{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict Your chances for Admission</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="number" name="LIMIT_BAL" id="limit_bal" placeholder="LIMIT BAL">
            <select name="SEX" id="sex"></select>
    <option value="male">Male</option>
    <option value="female">Female</option>
    </select>
            <select name="EDUCATION" id="education"></select>
    <option value="be">BE</option>
    <option value="mtech">MTech</option>
    <option value="Phd">PHD</option>
    </select>
            <select name="MARRIAGE" id="marriage"></select>
    <option value="yes">Yes</option>
    <option value="no">No</option>
    </select>
            <input type="number" name="AGE" id="age" placeholder="AGE">
            <input type="number" name="PAY_0" id="pay_0" placeholder="PAY_0">
            <input type="number" name="PAY_2" id="pay_2"placeholder="PAY_2">
        
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}